# Flutter
.dart_tool/
.flutter-plugins
.packages
build/
*.iml

# Android
android/.gradle
android/local.properties
android/**/GeneratedPluginRegistrant.java

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# macOS
macos/Flutter/ephemeral/

# Environment
.env
.env.*
